:root {
	/* greatest value, beyond 2xl*/
	--flag-height: 1.4rem;
	--border-value: 0.7rem;
	--flag-border-height: 1.6rem;
	--offset-width: 1.3rem;
	--offset-height: 3.9;
	/*TODO: add the colors as var as well*/
}

/* smaller and eq to 2xl */
@media (max-width: 1536px) {
	:root {
		--flag-height: 1.25rem;
		--flag-border-height: 1.5rem;
		--offset-width: 1rem;
		--border-value: 0.7rem;
		--offset-height: 4;
	}
}

/* smaller and eq to xl */
@media (max-width: 1280px) {
	:root {
		--flag-height: 1.25rem;
		--flag-border-height: 1.5rem;
		--offset-width: 0.8rem;
		--border-value: 0.55rem;
		--offset-height: 4;
	}
}

/* smaller and eq lg */
@media (max-width: 1024px) {
	:root {
		--flag-height: 1.35rem;
		--border-value: 0.5rem;
		--flag-border-height: 1.5rem;
		--offset-width: 1rem;
		--offset-height: 4;
	}
}

@media (max-width: 768px) {
	:root {
		--flag-height: 1.35rem;
		--border-value: 0.5rem;
		--flag-border-height: 1.5rem;
		--offset-width: 1rem;
		--offset-height: 4;
	}
}

.white-down-flag {
	position: absolute;
	bottom: var(--border-value);
	size: 0;
	border-left: var(--flag-height) solid white;
	border-bottom: var(--flag-height) solid white;
	border-top: var(--flag-height) solid transparent;
	border-right: var(--flag-height) solid transparent;
	z-index: 10;
}

.white-up-flag {
	position: absolute;
	top: var(--border-value);
	size: 0;
	border-left: var(--flag-height) solid white;
	border-top: var(--flag-height) solid white;
	border-bottom: var(--flag-height) solid transparent;
	border-right: var(--flag-height) solid transparent;
	z-index: 10;
}

.black-up-flag {
	size: 0;
	border-left: var(--flag-border-height) solid black;
	border-top: var(--flag-border-height) solid black;
	border-bottom: var(--flag-border-height) solid transparent;
	border-right: var(--flag-border-height) solid transparent;
	z-index: 5;
}

.black-down-flag {
	size: 0;
	border-left: var(--flag-border-height) solid black;
	border-bottom: var(--flag-border-height) solid black;
	border-top: var(--flag-border-height) solid transparent;
	border-right: var(--flag-border-height) solid transparent;
	z-index: 5;
}

.flag-offset {
	z-index: 5;
	background-color: black;
	height: calc(var(--offset-height) * var(--flag-border-height));
	width: var(--offset-width);
}
