:root {
    --f-height: 1.85rem;
    --f-shadow-height: 2rem;
    --f-flag-offset: 0.2rem;
    --f-col: #fff;
    --text-size: calc(1em + 1vw);
}

.inverse {
    width: 0;
    height: 0;
    border-left: var(--f-height) solid #fff;
    border-bottom: var(--f-height) solid #fff;
    border-right: var(--f-height) solid transparent;
    border-top: var(--f-height) solid transparent;
    transform: rotate(90deg);
}

.flag {
    position: relative;
    margin: 0px;
    margin-top: var(--f-flag-offset);
}

.flagshadow {
    position: absolute;
    margin: 0px;
}

.sinverse {
    border-left: calc(1.2 * var(--f-shadow-height)) solid #000;
    border-bottom: calc(1.2 * var(--f-shadow-height)) solid #000;
    border-right: calc(1.2 * var(--f-shadow-height)) solid transparent;
    border-top: calc(1.2 * var(--f-shadow-height)) solid transparent;
    transform: rotate(90deg);
}

.aesthetic {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0px;
    max-width: 50vw;
}

.triangle {
    position: relative;
    border-left: var(--f-height) solid #fff;
    border-bottom: var(--f-height) solid #fff;
    border-right: var(--f-height) solid transparent;
    border-top: var(--f-height) solid transparent;
    bottom: 0.27rem;
    /* change this if it acts weird */
}

.striangle {
    position: absolute;
    top: calc(1.62 * var(--f-shadow-height));
    border-left: calc(1.2 * var(--f-shadow-height)) solid #000;
    border-bottom: calc(1.2 * var(--f-shadow-height)) solid #000;
    border-right: calc(1.2 * var(--f-shadow-height)) solid transparent;
    border-top: calc(1.2 * var(--f-shadow-height)) solid transparent;
}
